<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="example.com.sunshine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="example.com.sunshine.download.MainActivity"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".download.DownloadActivity"
            android:theme="@style/AppTheme"
            >

        </activity>
        <activity
            android:name=".Main.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppThemeNoBar" ></activity>

        <activity android:name=".Main.AnimatorActivity"
            android:theme="@style/AppThemeNoBar" ></activity>
        <activity android:name=".Main.InterpolatorActivity"
            android:theme="@style/AppThemeNoBar" ></activity>
        <activity android:name=".Main.SlideActivity"
            android:theme="@style/AppThemeNoBar" ></activity>
        <activity android:name=".Main.TransitionDetailActivity"
            android:theme="@style/AppThemeNoBar" ></activity>

        <activity android:name=".Main.TransitionActivity"
            android:theme="@style/AppTheme.Home"></activity>

        <activity android:name="example.com.sunshine.download.DownloadFinishActivity"
            android:theme="@style/AppTheme"></activity>

        <activity android:name=".Main.SceneActivity"
            android:theme="@style/AppThemeNoBar" ></activity>
        <activity android:name=".Main.main"
            android:theme="@style/AppThemeNoBar" ></activity>
        <activity android:name=".Main.DynamicSurfacesActivity"
            android:configChanges="orientation"
            android:theme="@style/AppThemeNoBar" ></activity>

        <activity android:name=".Main.GridActivity"
            android:theme="@style/AppTheme.Home" ></activity>

        <activity android:name=".Main.GridDetailAcitivty"
            android:theme="@style/AppThemeNoBar"  ></activity>

        <activity android:name=".single.ActivityStandard" android:launchMode="standard"
            >
        </activity>

        <activity android:name="example.com.sunshine.HTTP.HttpActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="standard"
            >
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

        </activity>
        <activity android:name=".view.MyViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="standard"
            >

        </activity>
      <activity android:name=".Process.SecondActivity"
            android:configChanges="screenLayout"
            android:process=":remote"></activity>
        <activity android:name=".Process.ThirdActivity"
            android:configChanges="screenLayout"
            android:process="example.com.sunshine.remote"></activity>

        <service android:name=".service.TestService"
            android:process="example.com.sunshine.remote">

        </service>

        <service android:name=".service.Test1Service"></service>

        <activity android:name=".MyActivity">

        </activity>
        <activity android:name=".MyOtherActivity">

        </activity>
        <activity android:name=".service.ActivityMessenger">

        </activity>
        <service android:name=".service.MessengerService">

        </service>
    </application>

</manifest>