<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.com.sunshine">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature android:glEsVersion="0x00010000" />

    <application
        android:name=".download.Application.TLiveApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoBar">
        <activity
            android:name=".download.Home.Main111Activity"
            android:launchMode="standard"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Exo.ExoService"
            android:process=":play" />

        <!-- <activity -->
        <!-- android:name=".download.Home.Main111Activity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait"> -->


        <!-- </activity> -->
        <activity android:name=".Exo.dataBinding.UserInfoActivity" />
        <activity android:name=".download.DownloadActivity" />
        <activity
            android:name=".Main.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".Main.AnimatorActivity"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".Main.InterpolatorActivity"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".Main.SlideActivity"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".Main.TransitionDetailActivity"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".Main.TransitionActivity"
            android:theme="@style/AppTheme.Home" />
        <activity android:name=".download.DownloadFinishActivity" />
        <activity
            android:name=".Main.SceneActivity"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".Main.main"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".Main.DynamicSurfacesActivity"
            android:configChanges="orientation"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".Main.GridActivity"
            android:theme="@style/AppTheme.Home" >


        </activity>
        <activity
            android:name=".Main.GridDetailAcitivty"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".single.ActivityStandard"
            android:launchMode="standard" />
        <activity
            android:name=".HTTP.HttpActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="standard">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity
            android:name=".view.MyViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="standard" />
        <activity
            android:name=".Process.SecondActivity"
            android:configChanges="screenLayout"
            android:process=":remote" />
        <activity
            android:name=".Process.ThirdActivity"
            android:configChanges="screenLayout"
            android:process="example.com.sunshine.remote" />

        <service
            android:name=".service.TestService"
            android:process="example.com.sunshine.remote" />
        <service android:name=".service.Test1Service" />

        <activity android:name=".MyActivity" />
        <activity android:name=".MyOtherActivity" />
        <activity android:name=".service.ActivityMessenger" />

        <service android:name=".service.MessengerService" />

        <meta-data
            android:name="PROJECT_ID"
            android:value="\01" />
        <meta-data
            android:name="APP_ID"
            android:value="\01" />

        <activity
            android:name=".Exo.PlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Exo.ExitReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.cnr.fm.action.exit" />
            </intent-filter>
        </receiver>

    </application>

</manifest>